html,
body {
	font-family: "Baloo 2", cursive;
	display: flex;
	flex-direction: column;
	background-color: #fffbf5;
	margin: 0;
}
button {
	border: 1px solid black;
	border-radius: 2px;
	background-color: #dfedf5;
	font-size: 16px;
	padding: 1px 8px;
	font-family: "Baloo 2", cursive;
}
button:hover,
a:hover {
	cursor: pointer;
	filter: brightness(95%);
}
nav {
    flex: 0 1 auto;
	height: 5vh;
	background-color: #496372;
}
nav * {
	color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 5px 20px;
}
main {
	flex: 1 0 auto;
	min-height: 88vh;
	max-width: 1500px;
	margin: 0 auto;
	padding: 5px;
}
main h1 {
	font-size: 48px;
}
footer {
	flex: 0 1 auto;
	color: white;
	background-color: #031926;
    height: 5vh;
    text-align: center;
}
footer * {
    padding-top: 10px;
    text-decoration: none;
    color: white;
}