.searchandsort {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto;
}
.searchandsort button,
.searchandsort input {
	font-size: 16px;
	margin-left: 10px;
	padding: 1px 8px;
}
.searchandsort input {
	width: 400px;
}
.searchandsort label {
	margin-right: 3px;
}
.search *,
.sort-by * {
	margin-bottom: 10px;
	font-family: "Baloo 2", cursive;
	font-size: 20px;
}
.search button:first-of-type {
	background-color: #031926;
	border: 1px solid black;
	border-radius: 2px;
	color: white;
}
@media screen and (max-width: 620px) {
    .searchandsort input {
        width: 95%;
    }
}